---
import Layout from "../layouts/Layout.astro";

import { PROJECTS_DATA } from "../data/projects";

const idFromUrl = Astro.url.searchParams.get('id');
const projectsKeys = PROJECTS_DATA.map(p => p.projectName);

// MIRA TU TERMINAL (VS Code), NO EL NAVEGADOR
console.log("--- DEBUG PROYECTOS ---");
console.log("ID que viene de la URL:", idFromUrl);
console.log("Nombres en el Array:", projectsKeys);

const project = PROJECTS_DATA.find(p => String(p.projectName) === String(idFromUrl));
console.log("¿Proyecto encontrado?:", project ? "SÍ" : "NO");
---

<Layout>
   <main transition:animate="slide" class="min-h-screen bg-gray-50 p-10">
    <a href="/" class="text-blue-500 hover:underline">← Volver</a>

    <div class="max-w-4xl mx-auto mt-10 text-center">
      <img 
        src={(project?.screenshots![0] ?? "") as any} 
        transition:name={`hero-${idFromUrl}`} 
        class="w-full h-96 object-contain bg-white rounded-3xl shadow-lg" 
      />
      
      <h1 class="text-4xl font-bold mt-8">{project?.projectName}</h1>
    </div>
  </main>
</Layout>
