<footer class="footer py-8 px-4">
  <div
    class="max-w-6xl mx-auto flex flex-col md:flex-row justify-between items-center"
  >
    <!-- Logo / Nombre -->
    <div class="mb-4 md:mb-0">
      <h3 class="text-xl font-bold">Israel Sellan</h3>
      <p class="text-sm">Mobile and Web Engineer</p>
    </div>

    <div class="text-center md:text-right">
      <p class="text-sm">
        &copy; 2025 Todos los derechos reservados. Desarrollado por <span
          class="font-semibold">Leonardo Israel Sellan</span
        >.
      </p>
    </div>
  </div>

  <div class="flex justify-center gap-6 mt-6">
    <a
      href="www.linkedin.com/in/israel-sellan-fajardo-4917a8240"
      target="_blank"
      class="text-blue-600 hover:text-blue-400 transition-colors"
    >
      <i class="fab fa-linkedin text-2xl"></i>
    </a>
    <a
      href="https://github.com/israUSA"
      target="_blank"2
      class="text-gray-800 hover:text-gray-600 transition-colors"
    >
      <i class="fab fa-github text-2xl"></i>
    </a>
  </div>
</footer>
