---
import CardProject from  "./card-project.astro";

import servientregaImage from "../assets/screenshots/servientrega-project.png"
import teojamaImage from "../assets/screenshots/teojama-project.png"
import promariscoImage from "../assets/screenshots/promarisco-project.png"

---

<section id="projects" class="px-8 py-4 text-center">
  <div>
    <h2 class="text-xl font-bold">Projectos Destacados</h2>
    <h3>Una seleccion de aplicaciones desarrolladas por mí</h3>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 py-4 items-stretchr" >

    <CardProject
    srcImage={servientregaImage}
    bgColor="bg-green-100"
    title="Servientrega Courrier",
    technology="Flutter"
    description="ajdjksajdjdkjdajsadasdkajdkjsadd aisdsad  aijdsadsa  saidssakjassa kajdksajlkdsalkdsda kasjdkjsadsadsadkjnsadkjnsakdnsakjdnkjdnsandsankjdnakjdadnakjnsk"
    />

    <CardProject
    srcImage={teojamaImage}
    bgColor="bg-indigo-100"
    title="Teojama",
    technology="Flutter"
    description="ajdjksajdjdkjdajsadasdkajdkjsadd aisdsad  aijdsadsa  saidssakjassa ladsajdkjsalkdad"
    />

    <CardProject
    srcImage={promariscoImage}
    bgColor="bg-red-100"
    title="Promarisco",
    technology="Flutter"
    description="ajdjksajdjdkjdajsadasdkajdkjsadd aisdsad  aijdsadsa  saidssakjassa jajsdksajoidjaoidoia"
    />


  </div>


</section>