---
import CardProject from "./card-project.astro";
import { PROJECTS_DATA } from "../data/projects";
---

<section id="projects" class="px-8 py-4 text-center">
  <div>
    <h2 class="text-xl font-bold">Proyectos Profesionales Destacados</h2>
    <h3>Una seleccion de aplicaciones desarrolladas profesionalmente</h3>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 py-4 items-stretch">
     {
    PROJECTS_DATA.map((project) => (
      <CardProject project={project}/>
    ))
  }
  </div>
</section>
