---
import SkillInformation from './skill-information.astro';
---
<section id="skills" class="flex flex-row">

  <SkillInformation 
  icon="fa-brands fa-flutter"
  name="Flutter"/>

  <SkillInformation 
  icon="fa-solid fa-fire"
  name="Firebase"/>

  <SkillInformation 
  icon="fab fa-angular"
  name="Angular"/>

  <SkillInformation 
  icon="fa-solid fa-a"
  name="Astro"/>

  <SkillInformation 
  icon="fa-brands fa-tailwind-css"
  name="Tailwind"/>

</section>